
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1511308802854-1 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 100px;
            top: 100px;
            left: 297px;
        }
    